.container-fluid {
    background-color: #F3F4F5;
}

.orders-view {
    margin-top: 20px;
}

.table-hover tr > td {
    text-align: center;
}

.table-hover > tbody > tr > td {
    background-color: #FFFFFF;
    color: #000000;
}

.table-hover > thead > tr > td {
    font-weight: 600;
    background-color: #337AB7;
    color: #FFFFFF;
}

.list-group-item .badge {
    background-color: #337AB7;
}

.file-upload {
    overflow: hidden;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;

	/* Cosmetics */
	/*color: #fff;*/
	/*border: 2px solid #2FA2FF;*/
	/*background: #6FBEFF;*/

	/* Nice if your browser can do it */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/*text-shadow: #000 1px 1px 4px;*/
}

.file-upload *:hover {
    cursor: pointer;
}

.file-upload input {
	/*position: absolute;*/
	top: 0;
	left: 0;
	margin: 0;
	/*font-size: 70px;*/

	/* Loses tab index in webkit if width is set to 0 */
	opacity: 0;
	/*filter: alpha(opacity=0);*/
}

.file-upload-status {
	margin-left: 10px;
	vertical-align: middle;
	padding: 7px 11px;
	font-weight: bold;	
	font-size: 16px;
	color: #888;
	background: #f8f8f8;
	border: 3px solid #ddd;
}

#upload-header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

#upload-header:hover {
    white-space: normal;
    overflow: visible;
}
