<div class="container-fluid">
  <div class="row orders-view">
    <div class="col-sm-3">
      <ul class="list-group">
        <button class="list-group-item">
          <span class="badge">160</span>
          Active
          <span class="glyphicon glyphicon-chevron-right" [ngClass]="{'hidden': false}"></span>
        </button>
        <button class="list-group-item">
          <span class="badge">45</span>
          Pending
          <span class="glyphicon glyphicon-chevron-right" [ngClass]="{'hidden': true}"></span>
        </button>
        <button class="list-group-item">
          <span class="badge">20</span>
          Cancelled
          <span class="glyphicon glyphicon-chevron-right" [ngClass]="{'hidden': true}"></span>
        </button>

        <input type="file" id="fileTest">
      </ul>
    </div>
    <div class="col-sm-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <td class="col-sm-1">Order#</td>
            <td class="col-sm-5">Description</td>
            <td class="col-sm-2">Status</td>
            <td class="col-sm-2">Date</td>
            <td class="col-sm-2" id="upload-header">Upload Excel</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of allOrders">
            <td class="col-sm-1">{{order.id}}</td>
            <td class="col-sm-5">{{order.description}}</td>
            <td class="col-sm-2">{{order.status}}</td>
            <td class="col-sm-2">{{order.date}}</td>
            <td class="col-sm-2">
              <label class="file-upload">
                <!--<span>Upload</span>-->
                <img src="../../../assets/images/upload.png" width="20" height="20">
                <input type="file" class="uploadfile" (change)="uploadFile($event)">
                <span>{{fileName}}</span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
