@CHARSET "UTF-8";


/* Background Colors */

.bg-red{
	background-color: #C62828 !important;
}

.bg-green{
	background-color: #388E3C !important;
}

.bg-jp{
	background-color: #9C27B0 !important; 
}

.bg-mu{
	background-color: #E6B028 !important;
}

.bg-lk{
	background-color: #2196F3 !important;
}

.bg-us{
	background-color: #FF5722 !important;
}
.bg-hd{
	background-color: #937a91 !important;
}
.bg-ex{
	background-color: #c3bea0 !important;
}

.bg-all{
	background-color: blue !important;
}

/* Borders */

.br-blue-l{
	border-left: 4px solid #2196F3;
}

.br-blue-l-b{
	border-left: 8px solid #2196F3;
}


.br-orange-l{
	border-left: 4px solid #FF5722;
}

.br-orange-l-b{
	border-left: 8px solid #FF5722;
}

.br-red-l{
	border-left: 4px solid #F44336;
}

.br-red-l-b{
	border-left: 8px solid #F44336;
}

.br-purple-l{
	border-left: 4px solid #9C27B0;
}

.br-purple-l-b{
	border-left: 8px solid #9C27B0;
}

.no-padding{
	padding: 0 !important;
}

.loader{
	width: 30px;
	height: auto;
	display: none;
}

/* Utility Classes */

.panel-action.t-avatar{
	opacity: 0.5;
}

.panel-action.t-avatar:hover, .panel-action.t-avatar.selected{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    opacity: 1;
}

.panel{
	border-radius: 0; 
}

img.center{
	margin: auto;
}

.lot-item  a{
	color: #E53935 ; 
	text-decoration: none;
}

.lot-item  a:hover, .lot-item  a:focus{
	color: #EF9A9A !important;
	text-decoration: underline !important;
}

/*.btn-success{
	background-color: #e5baef;
	border-color:  #e5baef;
}

.btn-success.focus, .btn-success:focus, .btn-success:hover{
    background-color: #C7A4D0;
    border-color: #C7A4D0;
}

.btn-primary{
	background-color:  #9999cc;
	border: none;
}*/

p{
	word-wrap : break-word !important;
}

p:last-of-type{
	margin-bottom: 0 !important;
}

.shadow{
	box-shadow : 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


.bold{
	font-weight: 600;
}

.u-case{
	text-transform: uppercase !important;
}

.site-menu > .site-menu-item > a:focus, .site-menu > .site-menu-item.has-sub  > .mm-next.a:focus{
	color: #EF9A9A;

}

.relative{
	position: relative;
}

.site-navbar .navbar-container{
	background-color: #93bde1;
}

.user-menu{
	background-color: #3F51B5;
}

.user-menu-letters {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
}

.page-title{
	line-height: 58px;
    font-size: 21px;
    color: #fff;
    font-weight: 600;
	margin-right: 20px;
}

.navbar-container.container-fluid{
	height: 60px !important;
	/*overflow: hidden;*/
}

.navbar-toolbar > li{
	height: 60px !important;
	/*overflow: hidden;*/
}

.navbar-toolbar>li>a{
	line-height: 16px;
}

.navbar-default .hamburger:before, .navbar-default .hamburger .hamburger-bar, .navbar-default .hamburger:after{
	background: #fff;	
}

.number{
	font-family: 'Quicksand', sans-serif;
}

.page-content{
	padding: 0 30px 30px 30px;
}

.info-panel{
	height: auto;
	padding: 10px !important ;
}

.info-panel .info-panel-title{
	color: #636363;
	font-weight: 600;
}

.info-panel .info-panel-value{
	color: #000000;
	font-weight: 600;
	margin-right: 20px;
}

.panel{
	height: auto;
}

.blue-border{
	border-left: 4px solid #3F51B5;
}

.t-avatar, .date{
	color: #ffffff !important;
	font-weight: 600;	
}

.overlay{
	position: absolute;
}

.details-loader{
	position: relative;
    width: 100%;
    height: 100%;
    z-index: 200;
    margin-left: -10px;
    margin-top: -10px;
    min-height: 200px;
}

.details-loader img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.i-details-loader{
	display: none;
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    margin-left: -10px;
    margin-top: -10px;
    background-color: #e2e2e2;
    top : 0;
    left: 0;
}

.i-details-loader img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lot-item{
	min-height: 100px;
	margin-bottom: 20px;
}

.lot-item .initials{
	font-size: 24px;
	line-height: 100px;
	margin: 0;
	color: #ffffff;
	font-weight: 600;
}

.lot-item .lot-title{
	margin-top : 10px !important;
}

h4.lot-title{
	font-size: 16px;
	font-weight: 600;
	color: #636363;
}

.lot-item-c{
	height: 100%;
}

.lot-item .lot-item-status{
	margin: 0;
	color: #636363;
}

.lot-stats{
	position: relative;
	min-height: 100px;
}


.more-icon{
	position: absolute;
    bottom: -25px;
    right: 15px;
    font-size: 50px;
    font-weight: 600;
    color: #E53935;
}

.lot-item .progress{
	margin-bottom: 5px;
}

.lot-item .lot-details{
	background-color: #e2e2e2;
	padding: 10px;
	/*display: none;*/
	min-height: 0px; 
}

.lot-items-table{
	background-color: #ffffff;
	table-layout: fixed;
	margin-right: 50px;
}


table{
	margin-bottom: 0px !important;
	table-layout: fixed !important;
}

/*thead{
	display: block;
}

tbody{
	height: 420px;
	overflow: auto;
	display: block;
	width: 100%;	
}*/

th, td, thead{
	border: 2px solid #e2e2e2;
}

.table>thead > tr > th{
	text-align: center;
	font-weight: 600;
	color: #7986CB;
	font-size: 14px;
}

.table > tbody > tr > td{
	text-align: center;
	color: #000000;
	vertical-align: middle;
	font-family: 'Quicksand', sans-serif !important;
}

.table-w{
	width: 100%;
	max-height: 450px;
	overflow: auto;
	margin-bottom: 10px; 
}

.sticky-table{
    position: absolute;
    top: 0;
    background: #fff;
}

.table-out
{
width: 100%;
height: 200px;
}

.table-big{
	width: 1650px;
	overflow: auto;
}

.icon.big{
	font-size: 18px;
}

.actions{
	height: 90px;
}

/* tabs */

.nav-tabs-line>li.active>a:focus, .nav-tabs-line>li>a:focus{
	background-color:  #ccd5db;
}

.nav-tabs-line>li.active>a{
	font-weight: 600;
	color: #000 !important; 
}

.nav-tabs-line > li{
	padding: 0 10px;
}

/* Material Switch */
.label {
  	width: 45px;
	height: 18px;
	background: #303f9f;
	box-shadow: inset 0 0 0 30px #9FA8DA;
	border-radius: 30px;
	display: block;
	top: 14px;
	left: 159px;
	position: absolute;
	z-index: 1;
	transition: all 300ms ease-in 0s;
}
#switch {
  top:15px;
  position:absolute;
  left:180px;
  transform : scale(0.2);
}
#switch+span::before {
  	content: "";
	position: absolute;
	top: 10px;
	right: 33px;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: block;
	background: #303f9f;
	border: none;
	z-index: 2;
	box-shadow: inset 0 0 0 40px #2196F3,0 0 5px 0 #373A3C;
	transition: box-shadow 500ms ease-in 0s, right 300ms ease-in 0s;
}
#switch:checked+span::before {
  right: 10px;
  box-shadow:inset 0 0 0 0 #303f9f,0 0 5px 0 #000;
}
#switch:checked + label {
  box-shadow: inset 0 0 0 0 #4a4a4a;
}

.switch-w{
	position: relative;
}

.lbl {
      position: absolute;
    display: block;
    height: 20px;
    width: 44px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    top: 30%;
    right: 0;
}

.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #e2e2e2;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}

.lbl:active:after { transform: scale(1.15, 0.85); }

.cbx{
	transform : scale(0.1);
}

.cbx:focus ~ label{
    outline: 1px solid #ccc;
}

.cbx:checked ~ label { background: #9FA8DA; }

.cbx:checked ~ label:after {
  left: 20px;
  background: #62A8EA;
}

.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}

.cbx:disabled ~ label:after { background: #bcbdbc; }











.tt-dropdown-menu .tt-suggestion, .tt-menu .tt-suggestion{
	text-align: left !important;
}

/* Custom File Upload Icons */

.upload-image{
	width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.image-name{
	cursor: pointer;
}

.file-input{
	width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

a.file-download:hover{
	text-decoration: none !important;
}

label.file{
	cursor: pointer;
}

label.file:focus{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

/* p.u-excel.enabled{
	background-image: url('../images/u-ex.png');
    width: 40px;
    height: 40px;
    margin: auto;
}

p.u-excel.disabled{
	background-image: url('../images/u-ex-g.png');
    width: 40px;
    height: 40px;
    margin: auto;
}

p.d-excel.enabled{
	background-image: url('../images/d-ex.png');
    width: 40px;
    height: 40px;
    margin: auto;
}

p.d-excel.disabled{
	background-image: url('../images/d-ex-g.png');
    width: 40px;
    height: 40px;
    margin: auto;
}

p.u-zip.enabled{
	background-image: url('../images/u-zip.png');
    width: 40px;
    height: 40px;
    margin: auto;
}

p.u-zip.disabled{
	background-image: url('../images/u-zip-g.png');
    width: 40px;
    height: 40px;
    margin: auto;
}

p.d-zip.enabled{
	background-image: url('../images/d-zip.png');
    width: 40px;
    height: 40px;
    margin: auto;
}

p.d-zip.disabled{
	background-image: url('../images/d-zip-g.png');
    width: 40px;
    height: 40px;
    margin: auto;
} */

h4.disabled{
	color: #636363;
}

/* Select 2 Customization */

.select2-container{
    padding-bottom: 5px;
    width: 100% !important;
}


/* Selectize Customization */
.selectize-dropdown-content{
	background-color: #ffffff !important;
	border: 1px solid #f2f2f2;
	text-align: left !important;
}

.selectize-input, .selectize-input.focus{
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	text-align: left !important;
}

.selectize-control.form-control:invalid{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#f44336)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(#f44336, #f44336), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
    background-image: -o-linear-gradient(#f44336, #f44336), -o-linear-gradient(#e0e0e0, #e0e0e0);
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#e0e0e0, #e0e0e0);
}

.table-field.form-group.form-material{
	margin-bottom: 0 !important; 
}

.dataListing {
	padding: 5px;
	background: #fff;
	color: #6662b0 !important;
}

.listPointer {
	display: inline-block;
	cursor: pointer;
}

.selectedActive {
	border-left: #F44336 5px solid;
	color: #000000 !important;
}

.innerLoader {
	display: none !important;
}

.c-pop-content{
	background-color: #fff;
	padding: 15px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto; 
	transition : all 0.5s;
	transform : scale(0); 
	transform-origin : center;
    width: 350px;
    box-shadow: 1px 1px 5px #636363;
    z-index: 50;
    height: 400px;
    overflow: auto;
    text-align: left;
    display: none;
}

.f-pop-content, .i-pop-content, .p-pop-content, .con-pop-content{
	background-color: #fff;
	padding: 6px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto; 
	transition : all 0.5s;
	transform : scale(0); 
	transform-origin : center;
    width: 40%;
    box-shadow: 1px 1px 5px #636363;
    z-index: 50;
    height: 400px;
    overflow: auto;
    text-align: left;
    display: none;
}

#new_theme.blue-placeholder::-webkit-input-placeholder {
    color: red;
     width:500px;
}
#p-count-fd.blue-placeholder::-webkit-input-placeholder {
    color: red;
}
#p-g-ins-fd.blue-placeholder::-webkit-input-placeholder {
    color: red;
}
#first_design_name-fd.blue-placeholder::-webkit-input-placeholder {
    color: red;
}
#small_design_name-fd.blue-placeholder::-webkit-input-placeholder {
    color: red;
}
#large_design_name-fd.blue-placeholder::-webkit-input-placeholder {
    color: red;
}
.first_design_name-1.blue-placeholder::-webkit-input-placeholder{
color:red;
}

.c-pop-content.open, .f-pop-content.open, .i-pop-content.open, .p-pop-content.open, .con-pop-content.open{
	transition : all 0.5s;
	transform-origin : center;
	transform : scale(1);
	display: block;
}

.final-index{
z-index:10000;
height:88%;
}

select {
	width: 100%;
}

.tableWidth {
	width: 2500px !important;
}

.s-cat-item{
	margin-bottom: 20px;
}

.s-cat-info{
	height: 100px;
	padding: 20px;
	background-color : #fff;
}

.s-cat-details{
	background-color : #ccc;
	padding : 20px;
}

.priority{
	color: red;
}

.s-cat-title{
	color: #3F51B5;
}

.s-cat-details{
	display: none;
	background-color: #ccc;
	padding: 20px;
}

.s-cat-item-status{
	color: #000;
	font-size: 15px;
}

.listInline {
	display: inline-block;
}


.searchSelect {
	border: 0px;
	background: none;
	color: #000000;
}

.floatRight {
	float: right !important;
}

.inputBottom {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid;
}

.pad0 {
	padding: 0;
}

.padLR20 {
	padding: 0px 20px;
}

.btnSearch {
	background: #9FA8DA;
    	color: #ffffff; 
	border: none;
}

.chooseColorHover:hover {
	cursor: pointer;
}

.popUpChoose {
	top: 0px;
	width: 400px;
	min-height: 300px;
}

.padTop10 {
	padding-top: 10px;
}

.plusMinusBorder {
	border: 0px;
	background: none;
	padding: 0px 15px;
}

.innerTable {
	display: none;
}

.selectWidth10 {
	width: 10%;
}

.table.inner-table{
	border-collapse: collapse;
}

.table.inner-table >td, .table.inner-table > th{
	border : 2px solid #636363;

}

.table.inner-table tr:first-child th {
    border-top: 0;
}
.table.inner-table tr:last-child td {
    border-bottom: 0;
}
.table.inner-table tr td:first-child,
.table.inner-table tr th:first-child {
    border-left: 0 !important;
}
.table.inner-table tr td:last-child,
.table.inner-table tr th:last-child {
    border-right: 0 !important;
}

.table.inner-table tr td{
	padding: 25px 0; 
}

.p-overlay{
    width: 98%;
    height: 99%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.addButtonPad {
    padding: 5px 10px;
    font-size: 15px;
}

.commentWidth70 {
    width: 70%;
}
.assignee-text-box{
	border-bottom: 1px grey solid;
    width: 35%;
}

.displayNone {
	display: none;
}

.close-pop{
	margin-top: 31px;
}

ul.color-list{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

ul.color-list > li{
    list-style : none;
}

.mar-right20 {
	margin-right: 20px;
}

.table-w1{
	width: 100%;
	overflow: auto;
	margin-bottom: 10px; 
}


.padTopDown20 {
	padding: 20px 15px;
}

.assignShow {
	padding: 10px;
    	background: #fff;
}

.wordWrap {
	word-wrap: break-word;
}

.color-value{
     margin-right : 20px;
}

.r-color{
    position: absolute;
    right: 14px;
}

.innerback {
	padding: 10px 0;
    background: #dbdbdb;
}

.inner-content{
	display: none;
}


.inputContentName {
	background: none;
	border: none;
        border-bottom: 1px grey solid;
}

.hover-img{
	position : relative;
}

.img-pop-up{
    position: fixed;
top: 50%;
left: 50%;
width: 100%;
background-color: #FFF;
object-fit: contain;

display: none;
z-index: 2;
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.img-pop-up.open{
   display :block;	
}

.checkbox-custom{
   margin : 0 !important;
}

.btn, .btn:hover a{
color : #fff !important;
}

.text-left{
text-align : left;
}

.s-title{
font-weight : 600;
}

.normal-weight {
font-weight : 500;
}

.pointer{
cursor : pointer !important;
text-decoration: underline !important;
}

.m-10{
margin : 10px 0;
}

.assign-text{
	border-bottom: 1px solid #636363 !important;
}

.label-card{
    font-size: 1.3em;
    color: #9999cc;
    font-weight: 600;
}

.card-link, .card-zip-upload{
	line-height: 40px;
}

.p-form-box-w{
    background: #e2e2e2;
    padding: 10px;
    margin: 5px;
    min-height: 150px;
}


.p-form-box{
	background: #ffffff;
	padding: 5px;

}

.p-box-info{
	line-height: 150px;
}

.auto-height{
	height: auto !important;
}

.p-pop-content{
    font-family: 'Raleway', sans-serif;
}

.no-margin{
	margin: 0;
}

hr{
	margin-top: 0;
	margin-bottom: 0; 
}

.g-ins{
	background-color: #fff;
	padding: 10px 5px;
}

.img-placeholder-color{
	padding: 10px;
	vertical-align: middle;
}

.img-placeholder-color{
	border-style: dotted;
	border-color:  #736F6E;
	display: block;
}
.label-change{
	color:blue;		
}

.label-delete{
	color:red;		
}
.img-editingstg{
	width:100%;
	height:auto;
	border: 2px solid #736F6E;
}

.bg-table{
	background-color: #f2f2f2 !important; 
}

.no-border{
	border: none !important;
}

.top-align{
	vertical-align: top !important;
}

.l-height-14{
	line-height: 14px !important;
}

label.pointer{
	text-decoration: none !important;
}

.close.content{
    position: absolute;
    top: 10px;
    right: 10px;
}
#content div a {
color: #0000FF;
}
.fulldesc ul li div a {
color:#0000FF;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
