<div class="page animsition">

	<div class="container-fluid">
		<br/>
		
		<div class="row">
			<div class="col-md-12 col-lg-12">

				<div class="nav-tabs-horizontal">
					<div class="tab-content">
						<div class="tab-pane active" id="upload" role="tabpanel">
							
							<div class="row" data-plugin="matchHeight" data-by-row="true">
								<div class="col-lg-3 col-sm-6" *ngFor="let metric of metrics" (click)="selectMetric(metric)">
									<div class="panel panel-bordered br-blue-l shadow">
										<div class="panel-body info-panel">
											<h5 class="info-panel-title">{{metric.name}}</h5>
											<h3 class="info-panel-value number text-center">{{metric.count}} {{metric.unit}}</h3>
										</div>

									</div>
								</div>
								<div class="clearfix"></div>

							</div>	
						
							<div class="panel shadow">
								<div class="panel-heading">
									<h5 class="panel-title bold">&nbsp;</h5>
									<div class="panel-actions">
										<span>
											<img id="filter-loader" class="loader" src="assets/images/loader.gif" />
										</span>
										<span class="u-case bold">View By: </span>
										<a id="view-all" class="panel-action t-avatar bg-all selected">ALL</a>											
										<a id="set_priority"  class="panel-action t-avatar bg-red" title="Priority">P</a> 
										
										<a id="set_date" class="panel-action date bg-green"title="Date" >
											<i class=" icon md-calendar big"></i>
										</a> 	
									</div>
								</div>

								<div class="panel-body">
									<div class="product-lots" id="show-lots">

										<app-lot-row></app-lot-row>
										<!-- <div class="details-loader"><img src="app/images/loader.gif"></div> -->
									</div>
								</div>	
							</div>
						
						</div>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div>
