.options-dropdown-menu {
    height: 59px;
    display: block;
    font-size: 15px;
    font-weight: 600;
    background-color: #337AB7;
}

.options-dropdown-menu:hover {
    background-color: #B9C0E3;
}

.fixed-header {
    position: fixed;
    top: 0;
}

.fixed-doc {
    position: fixed;
    top: 60px;
    right: 0;
}

.module-option {
    width: 100px;
    text-align: center;
    font-weight: 600;
}

.module-option > a {
    color: #262626;
}
