<div class="container-fluid">
  <div class="row">
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided" data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
          </button>
        <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true"></i>
          </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
          <span class="navbar-brand-text"> IGP</span>
        </div>
      </div>
      <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
          <!-- Navbar Toolbar -->
          <ul class="nav navbar-toolbar">
            <li class="hidden-float" id="toggleMenubar">
              <a data-toggle="menubar" href="javascript:void(0)" role="button" tabindex="1">
                <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
              </a>
            </li>
            <li class="page-title">
              Admin Panel
            </li>
            <li class="module-option" routerLinkActive="active"><a [routerLink]="['/form']">Form</a></li>
            <li class="module-option" routerLinkActive="active"><a [routerLink]="['/product_upload']">Attribution</a></li>
            <li class="module-option" routerLinkActive="active"><a [routerLink]="['/orders']">Orders</a></li>
          </ul>
          <!-- End Navbar Toolbar -->
          <!-- Navbar Toolbar Right -->
          <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">

            <div class="btn-group" dropdown>
              <button id="single-button" type="button" class="btn btn-primary options-dropdown-menu" dropdownToggle>
                  Admin <span class="caret"></span>
              </button>
              <ul dropdownMenu role="menu" aria-labelledby="single-button">
                <li role="menuitem">
                  <a href="javascript:void(0)" role="menuitem"><i class="glyphicon glyphicon-user" aria-hidden="true" value="hidden"></i> Profile </a>
                </li>
                <li role="menuitem">
                  <a href="javascript:void(0)" role="menuitem"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i> Settings</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="presentation">
                  <a class="animsition-link" href="" role="menuitem"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i> Change Password</a>
                  <a class="animsition-link" href="" role="menuitem"><i class="glyphicon glyphicon-off" aria-hidden="true"></i> Logout</a>
                </li>
              </ul>
            </div>
          </ul>

          <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
      </div>
    </nav>
  </div>

  <div class="row">
    <div class="panel">
        <div class="panel-body padding-10">
          <h5 class="pull-right bold"><a href="https://docs.google.com/document/d/1iaa6rsIlojrElk-ESwh0dkgXszBQJZFdf13ipedRKU0/edit#" target="_blank" style="color:black;">Help &amp; Documentation</a></h5>
        </div>
    </div>
  </div>

  <!--<div class="row">
    <div class="col-xs-6">
      <ul class="nav nav-pills">
        <li routerLinkActive="active"><a [routerLink]="['/form']">Form</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/product_upload']">Attribution</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/orders']">Orders</a></li>
      </ul>
    </div>
  </div>-->
</div>
