<div class="container-fluid">
  <h2>Product Entry</h2>
  <div class="row padding-15">
    <div class="col-xs-6">
      <form class="form" #productForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required minlength="3" maxlength="25" [(ngModel)]="product.name" name="name" #name="ngModel">

          <div>
            Errors object: {{name.errors | json}}
          </div>
          <p>valid: {{name.valid}}, invalid: {{name.invalid}}</p>
          <p>pristine: {{name.pristine}}, dirty: {{name.dirty}}</p>
          <p>untouched: {{name.untouched}}, touched: {{name.touched}}</p>

          <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
            <div [hidden]="!name.errors.required">Field should not be empty</div>
            <div [hidden]="!name.errors.minlength">Minimum 3 characters</div>
            <div [hidden]="!name.errors.maxlength">Maximum 25 characters</div>            
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" class="form-control" maxlength="100" [ngModel]="product.description" (ngModelChange)="product.description=$event" name="description" #description="ngModel">

          <div>{{product.description}}</div>

          <div *ngIf="description.errors && (description.dirty || description.touched)">
            <div [hidden]="!description.errors.maxlength"></div>
          </div>
        </div>

        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" id="quantity" class="form-control" required [(ngModel)]="product.quantity" name="quantity">
        </div>

        <!--<div class="form-group">
          <ng-select [allowClear]="true" [items]="items" [active]="value[0]" (selected)="selected($event)" (data)="refreshValue($event)" (typed)="typed($event)" placeholder="Select Type"></ng-select>
          <p></p>
          <pre>{{value.text}}</pre>
        </div>-->

        <div class="form-group">
          <label for="type">Type</label>
          <select name="type" id="type" class="form-control" [(ngModel)]="product.type" required #type="ngModel">
            <option value="" disabled selected>Select Type</option>
            <option *ngFor="let type of productTypes" [ngValue]="type">{{type.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" id="price" class="form-control" required [(ngModel)]="product.price" name="price">
        </div>

        <div class="form-group">
          <label for="weight">Weight</label>
          <input type="text" id="weight" class="form-control" required [(ngModel)]="product.weight" name="weight">
        </div>

        <div class="form-group padding-top-15">
          <button type="submit" class="btn btn-primary" [disabled]="!productForm.form.valid" (click)="addProduct()">Add Product</button>
          <button class="btn btn-link" [disabled]="product">Delete Product</button>
        </div>
      </form>

      <!--<ul class="list-group">
        <li class="list-group-item" *ngFor="let jsonObj of products">
          <span>Name: {{jsonObj.name}}, </span>
          <span>Description: {{jsonObj.description}}, </span>
          <span>Price: {{jsonObj.price}}, </span>
          <span>Quantity: {{jsonObj.quantity}}, </span>
          <span>Type: {{jsonObj.type.name}}</span>
        </li>
      </ul>-->
    </div>
  </div>
    
</div>
