.container-fluid {
    background-color: #F3F4F5;
}

.ng-valid[required] {
    border: 1px solid green;
}

.ng-invalid:not(form).ng-dirty,
.ng-invalid:not(form).ng-touched {
    border: 1px solid red;
}
