.dashboard-tabs {
    /*border-bottom: 1px solid grey;*/
    box-shadow: 0 1px 2px #888888;
}

.input-right {
    float: right;
    width: 90%;
}

.searchbox {
    padding-top: 9px;
}

/*--------------------------------------------------------------------*/
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > li > a:hover {
    text-decoration: none;
    font-weight: bold;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #C3404E;
    /*color: #000;*/
    background-color: transparent;
}
.nav-pills > li > a {
    border-radius:0px;
    color: #000;
    font-weight: bold;
    background-color: transparent;
}
.nav-pills > li:nth-child(2) > a {
    /*font-weight: bold;*/
    color: green;
}
.nav-pills > li:nth-child(3) > a {
    /*font-weight: bold;*/
    color: #C3404E;
}

/*--------------------------------------------------------------------*/
