<div class="row lot-item" (click)="loadLotDetails($event)">
	<div class=" col-md-12 no-padding shadow" id="outer-layer-{{id}}">
		<!-- Lot Card Begins -->
		<div class="lot-item-c lot-item-c-1" >
			<div class="col-md-1 bg-lk">
				<p class="initials  text-center">L1</p>
			</div>
			<div class="col-md-11 lot-stats">
				<div class="row">
					<div class="col-md-6">
						<h3 class="lot-title bold">Lot #<span class="number">476</span></h3>
					</div>
					<div class="col-md-6">
						<h4 class="lot-title">
							<span>Uploaded On: 31 Jan 2017<span class="number"></span></span>
							<span class="pull-right">Updated By: <span class="number">Admin</span></span>
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="progress progress-xs">
	                      <div class="progress-bar progress-bar-dark progress-bar-indicating active" 
	                      role="progressbar">
	                        <span class="sr-only">Complete</span>
	                      </div>
	                    </div>
	                    <p class="bold lot-item-status"><span class="number"></span><span class="number">12</span> of <span>12</span> products pending for attribution</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						
					</div>
				</div>
				<span class="more-icon"><a href="javascript:void(0)"><i class="icon glyphicon glyphicon-option-horizontal" aria-hidden="true"></i></a></span>	
			</div>	

		</div>

		<!-- Lot Card Ends -->


		<!-- Lot Card Details Begins -->
		<app-lot-details [lotDetails]="lotDetails" [showDetails]="showDetails"></app-lot-details>

		<!--<div id="menu">
			<a>hover me</a>
			<ul id="list">
				<li>item</li>
				<li>item</li>
				<li>item</li>
				<li>item</li>
				<li>item</li>
			</ul>
		</div>-->

		<!-- Lot Details Ends -->
	</div>
</div>
