.padding-extra {
    padding: 10px 20px 0;
}

.custom-date-picker {
    margin-top: 10;
}

.sla-message {
    color: #C3404E;
    text-decoration: underline;
    font-weight: bold;
}

.container-fluid p {
    font-size: 15px;
}

.dashboard-content {
    box-sizing: border-box;
    background-color: #F2F2F2;
    padding: 10px 0;
}

.table-wrapper {
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 3px #888888;
}

.dashboard-table {
    border: 2px solid #E0E0E0;
}

.dashboard-table > .row > .cell:nth-of-type(1) {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard-table > .row:nth-of-type(1) {
    font-size: 16px;
    font-weight: bold;
}

.cell {
    border: 2px solid #E0E0E0;
    line-height: 65px;
}

.out-for-delivery {
    line-height: 20px;
}

.cell-btn {
    padding: 10px!important;
}

.custom-button {
    margin-top: -5px;
    border-radius:0;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
    box-shadow: 0 1px 3px #888888;
}

.custom-btn-parent {
    padding-left:0.5em;
    padding-right:0.5em;
}

.center-align {
    text-align: center;
}

.line-height {
    line-height: 200%;
}

.alert-action {
    border-left: 15px solid #C3404E;
}

.no-action {
    border-left: 15px solid white;
}
