.welcome-message {
    padding: 20px;
}

.container-fluid p {
    font-size: 16px;
}

.dashboard-content {
    box-sizing: border-box;
    background-color: #F2F2F2;
    padding: 10px;
}

.table-wrapper {
    padding: 10px;
    background-color: white;
}

.dashboard-table {
    /*padding: 10px;*/
    border: 2px solid #E0E0E0;
}

.dashboard-table > .row > .cell:nth-of-type(1) {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard-table > .row:nth-of-type(1) {
    font-size: 16px;
    font-weight: bold;
}

.cell {
    border: 2px solid #E0E0E0;
    line-height: 60px;
}

.footer {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0;
}
