<div class="container-fluid">
  <div class="row padding-extra">
    <p>Hi VendorName</p>
    <p>Below is the schedule of orders you need to fulfill</p>
  </div>
  <div class="row dashboard-content">
    <div class="table-wrapper">
      <div class="container-fluid dashboard-table">
        <!--Table header-->
        <div class="row">
          <div class="cell col-md-3">Order Type</div>
          <div class="cell col-md-2">Deliver for Today</div>
          <div class="cell col-md-2">Deliver for Tomorrow</div>
          <div class="cell col-md-2">Future Deliveries</div>
          <div class="cell col-md-3">By Date: </div>
        </div>

        <!--Table content-->
        <div class="row">
          <div class="cell col-md-3 alert-action">New Orders</div>

          <div class="cell col-md-2 custom-btn-parent">
            <div class="btn btn-primary custom-button bg-igp text-white">
              <!--<span class="">8 Take action</span>-->
                <div>8</div>
                <div>View Orders</div>
            </div>
          </div>
          <div class="cell col-md-2">Deliver for Tomorrow</div>
          <div class="cell col-md-2">Future Deliveries</div>
          <div class="cell col-md-3">By Date: </div>
        </div>
        <div class="row">
          <div class="cell col-md-3 no-action">Confirm</div>

          <div class="cell col-md-2">Deliver for Today</div>
          <div class="cell col-md-2">Deliver for Tomorrow</div>
          <div class="cell col-md-2">Future Deliveries</div>
          <div class="cell col-md-3">By Date: </div>
        </div>
        <div class="row">
          <div class="cell col-md-3 alert-action">Out For Delivery</div>

          <div class="cell col-md-9">Deliver for Today</div>
        </div>
        <div class="row">
          <div class="cell col-md-3 no-action">Delivered Orders</div>

          <div class="cell col-md-9">
            <div class="row">
              <div class="col-md-7">
                <div class="line-height">Orders delivered today - 6</div>
                <div class="line-height">Total orders for today's delivery - 10</div>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <div class="btn btn-primary custom-button">
                  View all delivered orders
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-extra">
      <p class="sla-message">* Warning Message in case of breach in SLA. Clicking on this opens up the breached orders list</p>
    </div>
  </div>
  <div class="row footer">
    <p>&copy; IGP.com - Intermesh Pvt Ltd. - 2017</p>
  </div>
</div>
