<app-header-tabs></app-header-tabs>

<div class="container-fluid">
  <div class="row padding-extra">
    <p>Hi VendorName</p>
    <p>Below is the schedule of orders you need to fulfill</p>
  </div>
  <div class="row dashboard-content">
    <div class="col-md-11">
      <div class="table-wrapper">
        <div class="container-fluid dashboard-table">
          <!--Table header-->
          <div class="row">
            <div class="cell col-md-3">Order Type</div>
            <div class="cell col-md-2 center-align">Deliver for Today</div>
            <div class="cell col-md-2 center-align no-padding">Deliver for Tomorrow</div>
            <div class="cell col-md-2 center-align">Future Deliveries</div>
            <div class="cell col-md-3">
              <div class="col-md-4 no-padding">By Date: </div>
              <div class="col-md-8 no-padding custom-date-picker">
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateRange" (dateChanged)="onDateChanged($event)"></my-date-picker>
              </div>
            </div>
          </div>

          <!--Table content-->
          <div class="row">
            <div class="cell col-md-3" [ngClass]="{'alert-action': isRowAlert['new'], 'no-action': !isRowAlert['new']}">{{masterData.displayStatuses[0]}}</div>

            <div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.new.today.ordersCount, 'center-align': !dashboardData.new.today.ordersCount}">
              <app-orders-button [displayData]="dashboardData.new.today" [orderStatus]="masterData.statuses[0]" [deliveryTime]="masterData.deliveryTimes[0]" *ngIf="dashboardData.new.today.ordersCount" (onViewOrders)="viewOrders($event)">
                <app-button-view [viewData]="dashboardData.new.today.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.new.today.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.new.tomorrow.ordersCount, 'center-align': !dashboardData.new.tomorrow.ordersCount}">
              <app-orders-button [displayData]="dashboardData.new.tomorrow" [orderStatus]="masterData.statuses[0]" [deliveryTime]="masterData.deliveryTimes[1]" *ngIf="dashboardData.new.tomorrow.ordersCount">
                <app-button-view [viewData]="dashboardData.new.tomorrow.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.new.tomorrow.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.new.future.ordersCount, 'center-align': !dashboardData.new.future.ordersCount}">
              <app-orders-button [displayData]="dashboardData.new.future" [orderStatus]="masterData.statuses[0]" [deliveryTime]="masterData.deliveryTimes[2]" *ngIf="dashboardData.new.future.ordersCount">
                <app-button-view [viewData]="dashboardData.new.future.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.new.future.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-3" [ngClass]="{'custom-btn-parent': dashboardData.new.bydate.ordersCount, 'center-align': !dashboardData.new.bydate.ordersCount}">
              <app-orders-button [displayData]="dashboardData.new.bydate" [orderStatus]="masterData.statuses[0]" [deliveryTime]="masterData.deliveryTimes[3]" *ngIf="dashboardData.new.bydate.ordersCount">
                <app-button-view [viewData]="dashboardData.new.bydate.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.new.bydate.ordersCount"></app-no-orders>
            </div>
          </div>

          <div class="row">
            <div class="cell col-md-3" [ngClass]="{'alert-action': isRowAlert['confirmed'], 'no-action': !isRowAlert['confirmed']}">{{masterData.displayStatuses[1]}}</div>

            <div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.confirmed.today.ordersCount, 'center-align': !dashboardData.confirmed.today.ordersCount}">
              <app-orders-button [displayData]="dashboardData.confirmed.today" [orderStatus]="masterData.statuses[1]" [deliveryTime]="masterData.deliveryTimes[0]" *ngIf="dashboardData.confirmed.today.ordersCount">
                <app-button-view [viewData]="dashboardData.confirmed.today.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.confirmed.today.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.confirmed.tomorrow.ordersCount, 'center-align': !dashboardData.confirmed.tomorrow.ordersCount}">
              <app-orders-button [displayData]="dashboardData.confirmed.tomorrow" [orderStatus]="masterData.statuses[1]" [deliveryTime]="masterData.deliveryTimes[1]" *ngIf="dashboardData.confirmed.tomorrow.ordersCount">
                <app-button-view [viewData]="dashboardData.confirmed.tomorrow.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.confirmed.tomorrow.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-2" [ngClass]="{'custom-btn-parent': dashboardData.confirmed.future.ordersCount, 'center-align': !dashboardData.confirmed.future.ordersCount}">
              <app-orders-button [displayData]="dashboardData.confirmed.future" [orderStatus]="masterData.statuses[1]" [deliveryTime]="masterData.deliveryTimes[2]" *ngIf="dashboardData.confirmed.future.ordersCount">
                <app-button-view [viewData]="dashboardData.confirmed.future.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.confirmed.future.ordersCount"></app-no-orders>
            </div>

            <div class="cell col-md-3" [ngClass]="{'custom-btn-parent': dashboardData.confirmed.bydate.ordersCount, 'center-align': !dashboardData.confirmed.bydate.ordersCount}">
              <app-orders-button [displayData]="dashboardData.confirmed.bydate" [orderStatus]="masterData.statuses[1]" [deliveryTime]="masterData.deliveryTimes[3]" *ngIf="dashboardData.confirmed.bydate.ordersCount">
                <app-button-view [viewData]="dashboardData.confirmed.bydate.ordersCount"></app-button-view>
              </app-orders-button>
              <app-no-orders [viewData]="dashboardData.confirmed.bydate.ordersCount"></app-no-orders>
            </div>
          </div>
          <div class="row">
            <div class="cell col-md-3" [ngClass]="{'alert-action': isRowAlert['future'], 'no-action': !isRowAlert['future']}">{{masterData.displayStatuses[2]}}</div>

            <div class="cell col-md-9 no-padding">
              <div class="col-md-9 no-padding">
                <div class="col-md-3 custom-btn-parent" *ngFor="let order of dashboardData.ofd.orders; let i='index'">
                  <app-orders-button [displayData]="order" [orderStatus]="masterData.statuses[2]" [deliveryTime]="masterData.deliveryTimes[4]" *ngIf="i<4">
                    <div>{{order.orderNumber}}</div>
                  </app-orders-button>
                </div>
              </div>
              <div class="col-md-3 underline center-align no-padding">
                <a href="#" (click)="openPanel($event, masterData.statuses[2])">View All Out for delivery orders</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="cell col-md-3" [ngClass]="{'alert-action': isRowAlert['bydate'], 'no-action': !isRowAlert['bydate']}">{{masterData.displayStatuses[3]}}</div>

            <div class="cell col-md-9">
              <div class="row">
                <div class="col-md-7">
                  <div class="line-height">Orders delivered today - {{dashboardData.delivered.today}}</div>
                  <div class="line-height">Total orders for today's delivery - {{dashboardData.delivered.total}}</div>
                </div>
                <div class="col-md-5">
                  <div class="btn btn-primary custom-button underline" (click)="openPanel($event, masterData.statuses[3])">
                    View all delivered orders
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dashboard-content no-padding">
    <div class="padding-extra">
      <p class="sla-message">* Warning Message in case of breach in SLA. Clicking on this opens up the breached orders list</p>
    </div>
  </div>
</div>

<app-orders-action-tray (onTrayToggle)="viewOrders($event)">
  
</app-orders-action-tray>
