/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
/*@import 'custom_css/bootstrap-extend.min.css';
@import 'custom_css/site.css';
@import 'custom_css/custom.css';*/

/* Utility css start */
.no-padding{
    padding : 0 ! important;
}

.no-margin{
    margin : 0 ! important;
}


.underline {
    text-decoration: underline;
}

.bg-grey{
    background-color: #EFEFEF! important;
}

.bg-igp{
    background-color: #C3404E! important;
}

.text-igp{
    color: #C3404E! important;
}

.text-white{
    color:#ffffff! important;
}

.text-black{
    color:#000000! important;
}
/* Utility css end */


